# Systemd unit file for tomcat
[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking

PIDFile=/data/UnicomSMS/Tomcat8/Tomcat.pid
Environment=/data/UnicomSMS/jdk1.8.0_131
Environment=JDK_HOME=/data/UnicomSMS/jdk1.8.0_131
Environment/data/UnicomSMS/jdk1.8.0_131
Environment=PATH=$PATH:$JAVA_HOME/bin
Environment=CLASSPATH=.:$JAVA_HOME/jre/lib/rt.jar:$JAVA_HOME/lib/dt.jar:$JAVA_HOME/lib/tools.jar
Environment=CATALINA_HOME=/data/UnicomSMS/Tomcat8
Environment=CATALINA_BASE=/data/UnicomSMS/Tomcat8
Environment='CATALINA_OPTS=-Xms128M -Xmx512M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'
#export JAVA_OPTS="-Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=9999 -Dcom.sun.management.jmxremote.authenticate=true -Dcom.sun.management.jmxremote.password.file=$CATALINA_BASE/conf/jmxremote.password -Dcom.sun.management.jmxremote.access.file=$CATALINA_BASE/conf/jmxremote.access -Dcom.sun.management.jmxremote.ssl=false -Djava.rmi.server.hostname=<host-ip>"

#status
ExecStart=/data/UnicomSMS/Tomcat8/bin/startup.sh
ExecStop=/data/UnicomSMS/Tomcat8/bin/kill -15 $MAINPID
ExecReload=/data/UnicomSMS/Tomcat8/bin/kill -s HUP $MAINPID


User=tomcat
Group=tomcat
UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target